doctype html
html(lang='en')
  head
    title #{title}
    meta(http-equiv='Content-Type', content='text/html; CHARSET=utf-8')
    meta(name='description', content='#{meta.description}')
    meta(name='keywords', content='#{meta.keywords}')
    link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/css/common.css')
    line(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link#theme_css(rel='stylesheet', type='text/css', href='/themes/#{theme}/style.css')

  body(style='width:100%; font-size: 80%;')
    form#logout(action='/login', method='post', style='display:none;')
      input(type='hidden', name='action', value='logout')
    table#main.layout-table
      tr
        td#main-header(colspan='2')
          table#header.outline
            tr
              td.cell0.right
                table.layout-table
                  tr
                    td
                      a(href='/')
                        img#theme_banner(src='/img/logo.png', alt='#{title}', title='#{title}')
                    td
                      table#headerInfo.outline
                        tr.header1
                          th #{infobox.title}
                        tr
                          td.cell1.center
                            | 03-26-16, 05:46 am — 
                            span#viewCount 327
                            |  views
                            br
                            #{infobox.text}
            tr.header1
              th#navBar
                div(style='display:inline-block; float:right;')
                  span.navButton
                    a(href='/admin') Admin
                  #userMenuContainer.dropdownContainer
                    #userMenuButton.navButton
                      a(href='/profile&id=1')
                        span.userlink(style='color: #5555FF;', title='#{user.name} #{user.id} [#{user.rank}]') #{user.name}
                      i.icon-caret-down
                    ul.dropdownMenu
                      li
                        a(href='/editprofile') Edit profile
                      li
                        a(href='/editavatars') Mood avatars
                      li
                        a(href='/private') Private messages
                      li
                        a(href='/favorites') Favorites
                  #notifMenuContainer.dropdownContainer.noNotif
                    #notifMenuButton.navButton
                      | Notifications
                      span#notifCount 0
                      i.icon-caret-down
                    ul#notifList.dropdownMenu
                  span.navButton
                    a(href='#', onclick="$('#logout').submit(); return false;") Log out
                #navMenuContainer
                  span.navButton
                    a(href='/') Forums
                  span.navButton
                    a(href='/home') Home page
                  span.navButton
                    a(href='/faq') FAQ
                  span.navButton
                    a(href='/memberlist') Member list
                  span.navButton
                    a(href='/ranks') Ranks
                  span.navButton
                    a(href='/online') Online users
                  span.navButton
                    a(href='/lastposts') Last posts
                  span.navButton
                    a(href='/search') Search
            tr.cell0
              td.smallFonts.center
                #onlineUsers(style='min-height:16px;')
                  | 1 user online: 
                  a(href='/profile&id=1')
                    span.userlink(style='color: #5555FF;', title='#{user.name} #{user.id} [#{user.rank}]') #{user.name}
                script(type='text/javascript').
                  onlineFID = 0;
                  window.addEventListener("load",  startOnlineUsers, false);
            tr.header1
              th#header-sep
      tr
        td#main-page
          table#page-container.layout-table
            tr
              td.crumb-container
                table.outline.breadcrumbs
                  tr.header1
                    th
                      ul.crumbLinks
                        li
                          a(href='/') #{crumbs}
            tr
              td.contents-container
                #{page_contents}
            tr
              td.crumb-container
                table.outline.breadcrumbs
                  tr.header1
                    th
                      ul.crumbLinks
                        li
                          a(href='/') #{crumbs}
      tr
        td#main-footer(colspan='2')
          table#footer.outline
            tr
              td.cell2
                table.layout-table(style='line-height: 1.4em;')
                  tr
                    td(style='text-align: left;')
                      img(src='/img/poweredbyphase.png', style='float: left; margin-right: 3px;')
                      | Blargboard · by phase
                      br
                      | Inspired by Acmlmboard and others
                      br
                      // Page rendered in 0.933 seconds (with 41 SQL queries and 1926.211K of RAM)
                    td(style='text-align: right;')
                      a(href='?forcelayout=1', rel='nofollow') Force mobile view